<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <!-- NAVBAR -->
  <nav>
    <div class="brand-pos">
      <a class="brand-text flex" href="/home">Web Journal</a>
    </div>
    <div class="flex">
      <a class="logout flex center" role="button" href="/logout">Logout</a>
    </div>
  </nav>
  <!-- MAIN CONTAINER -->
  <div class="all-container-home flex col">
    <!-- CONTENT CONTAINER -->
    <section class="container-main flex center col">
      <h1 class="flex center">Your Records</h1><br>
      <a id="createNew" class="createNew flex center" role="button" style="margin-bottom: 2rem;" onclick="post()">Create
        New</a>
      <div id="newPost" class="newPost">
        <div class="postForm flex col">
          <div class="title flex colum text-center">
            <form action="/submit" method="post">
              <label>Title</label><br>
              <textarea type="text" name="title" id="title" required cols="60" rows="1"></textarea><br>
          </div>
          <div class="content flex">
            <label>Content</label><br>
          </div>
          <div class="contentBox flex">
            <textarea type="text" name="content" id="content" cols="60" rows="10" required></textarea>
          </div>
          <div class="flex row">
            <button class="createNew" type="submit" style="margin-bottom: 1rem;">Submit</button>
          </div>
        </div>
        </form>
        <button class="cancelPost" role="button" onclick="cancel()">Cancel</button>
        <hr>
      </div>
      <div class="posts flex col">
        <%posts.reverse().forEach(function(post){%>
        <h2 class="flex"><%=post.title%></h2>
        <p style="margin-top: 1rem;"><%=post.content%></p>
        <div class="crud">
          <form action="/delete/<%=post._id%>" method="POST" class="formDelete">
            <button class="deletePost" name="deleteItem" type="submit">delete</button>
          </form>
          <form action="/edit/<%=post._id%>" method="GET" class="formEdit">
            <button type="submit">edit</button>
          </form>
        </div>
        <%})%>
      </div>
    </section>
  </div>
  <footer>
    <h3 class="flex center">Paulo Dallastra</h3>
  </footer>
  <script>
    function post() {
      var displayPost = document.getElementById('newPost').style.display = "flex"
      var createButton = document.getElementById('createNew').style.display = "none"
    }

    function cancel() {
      var createButton = document.getElementById('createNew').style.display = "flex"
      var displayPost = document.getElementById('newPost').style.display = "none"
    }
  </script>
</body>
</html>